.accountManagement-wrapper{
    margin: 20px 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.15);
    border-radius: 2px;
}
.condition-wrapper{
    padding: 10px 50px;
}
.accountManagement-wrapper .ant-pagination {
    text-align: center;
    margin-top: 20px;
}
.accountManagement-wrapper .ant-table-thead > tr > th,.accountManagement-wrapper  .ant-table-tbody > tr > td{
    text-align: center;
}